@model dynamic

@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main" ng-app="project-management" ng-cloak="">
    <div ui-view class="wrapper"></div>
</div>