@model dynamic

@{
    Layout = null;
}
<div class="modal-header">
    <div class="head pull-left">Create a new team</div>
    <img class="pull-right popup-cross-image" src="/Content/images/cross.png" ng-click="cancel()" />
</div>
<div class="modal-body create-team-modal">
    <form ng-init="init()">
        <p>A team is a group of people, among whom tasks, notes, files & documents can be shared.</p>
        <div class="form-group">
            <input type="text" class="form-control large-textbox" ng-model="team.name" autofocus required="" placeholder="Enter your team name eg: 'Fast devs'">
        </div>
        <button ng-hide="team.saving" type="submit" class="btn btn-success btn-lg"
                ng-click="createNewTeam();" ng-disabled="!team.name">
            Create New Team
        </button>
        <button ng-show="team.saving" class="btn btn-success btn-lg" disabled="disabled">Creating...</button>
        <span ng-hide="team.saving" class="link" ng-click="cancel();">Cancel</span>
        <div ng-show="team.saveFailure" class="text-danger mb10">Oops! This is embarassing, something went wrong. Please try again.</div>
    </form>
</div>