@model dynamic

@{
    Layout = null;
}

<div class="row create-team-wrapper">
    <p class="create-team-header">Create a new team</p>
    <img class="empty-team-img" src="/Content/images/people.png" />
    <div>
        <p>A team is a group of people, among whom tasks, notes, files & documents can be shared.</p>
        <button class="btn btn-success" ng-click="create()">Create my new team</button>
    </div>
</div>