@using Project_Management.Models.Team
@{
    List<TeamModel> team = (List<TeamModel>)ViewBag.Teams;
    TeamModel selectedTeam = (TeamModel)ViewBag.SelectedTeam;
    string selectedTeamStr = "Team";
    int? selectedTeamId = null;
    if (selectedTeam != null)
    {
        selectedTeamStr = selectedTeam.Name;
        selectedTeamId = selectedTeam.Id;
    }
}

<div ng-controller="NavigationController" ng-init="init()">
    <ul class="nav navbar-nav inner-nav">
        @if (selectedTeam != null)
        {
            <li class="dropdown">
                <a href="#" class="dropdown-toggle btn btn-default btn-gray" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@selectedTeamStr <span class="caret"></span></a>
                <ul class="dropdown-menu nav-dropdown-menu">
                    @foreach (TeamModel item in team)
                    {
                        <li><a href="/team/o/@item.Id#/tasks">@item.Name</a></li>
                    }
                </ul>
            </li>
            <li>
                <a class="tasks" href="/team/o/@selectedTeam.Id#/tasks">Tasks</a>
            </li>
            <li>
                <a class="people" href="/team/o/@selectedTeam.Id#/people">People</a>
            </li>
            <li>
                <a class="notes" href="/team/o/@selectedTeam.Id#/notes">Notes</a>
            </li>
        }
    </ul>
</div>

<script type="text/javascript">
    window.yasser = 'shaikh';
    window.selectedTeamId = '@selectedTeamId';
</script>