.card {
    float: left;
    margin-right: 75px;
    margin-bottom: 30px;
    height: 200px;
    padding: 20px;
    width: 270px;
}

.card {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 24px;
    position: relative;
    border-radius: 2px;
}

    .card:before, .card:after {
        content: "";
        height: 98%;
        position: absolute;
        width: 100%;
        z-index: -1;
    }

    .card:before {
        background: #F5EFE6;
        box-shadow: 0 0 8px rgba(0,0,0,0.2);
        left: -5px;
        top: 4px;
        transform: rotate(-4.5deg);
    }

    .card:after {
        background: #F5EFE6;
        box-shadow: 0 0 3px rgba(0,0,0,0.2);
        right: -3px;
        top: 1px;
        transform: rotate(5.4deg);
    }

    .card:hover {
        background: #fefefe;
        
    }

.card-team-name {
    font-size: 24px;
}

.card-member-name {
    background: #DBDBDB;
    padding: 5px 10px;
    text-align: center;
    margin-right: 8px;
    border-radius: 3px;
}

.card-anchor {
    color: #333333;
}

.card-anchor:hover p{
    color: #333;
}

.card-anchor:hover .card-team-name{
    text-decoration: underline;
}

.card-last-updated {
    margin-bottom: 2px; 
}