.empty-team-img {
    opacity: 0.4;
}

.create-team-wrapper {
    text-align: center;
    background: #fff;
    padding: 25px;
}

.create-team-header {
    font-size: 32px;
}

.create-team-modal input[type=text] {
    width: 400px;
}

.create-team-button-holder {
    margin-bottom: 25px;
}

.teams-header {
    font-size: 18px;
    font-weight: bold;
}